{% load static i18n %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>
  <title>
    {% block title %}
      Reachify
    {% endblock title %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description"
        content="Grow your social profile"/>
  <meta name="author"
        content="Sunil Yadav"/>
  <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}"/>
  {% block css %}
    <!-- Your stuff: Third-party CSS libraries go here -->
    <!-- =========UNPOLY JS CDN========-->
    <link rel="stylesheet" href="https://unpkg.com/unpoly@2.7.2/unpoly.min.css">

    <!-- ===========TABLER CSS============-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/tabler-min.css' %}">

    <!--    =======BOX ICONS=====-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/boxicon.min.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- ========TABLER ICONS==========-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">

    <!-- This file stores project-specific CSS -->


    <link href="{% static 'css/project.css' %}" rel="stylesheet"/>


  {% endblock css %}
  <!-- Le javascript
      ================================================== -->
  {# Placed at the top of the document so pages load faster with defer #}
  {% block javascript %}


    <!-- Bootstrap JS -->
    <script defer
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"
            integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <!-- Your stuff: Third-party javascript libraries go here -->


    <!-- place project specific Javascript in this file -->


    <script defer src="{% static 'js/project.js' %}"></script>


  {% endblock javascript %}
</head>
<body>
<div class="mb-1">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler navbar-toggler-right"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{% url 'reachapp:home' %}">Reachify</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'reachapp:home' %}">Home <span class="visually-hidden">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'reachapp:about' %}">About</a>
          </li>
          {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link"
                 href="{% url 'users:detail' request.user.username %}">{% translate "My Profile" %}</a>
            </li>
            <li class="nav-item">
              {# URL provided by django-allauth/account/urls.py #}
              <a class="nav-link" href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>
            </li>
          {% else %}
            {% if ACCOUNT_ALLOW_REGISTRATION %}
              <li class="nav-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% translate "Sign Up" %}</a>
              </li>
            {% endif %}
            <li class="nav-item">
              {# URL provided by django-allauth/account/urls.py #}
              <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% translate "Login" %}</a>
            </li>
          {% endif %}
          {% if request.session.member_username %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'reachapp:dashboard' %}">Dashboard</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="container">
  {% block content %}
  {% endblock content %}
</div>
<!-- /container -->
{% block modal %}
{% endblock modal %}

<footer class="mt-4">
  <p class="py-3 mb-0 text-light text-center bg-dark fs-4">
    &copy; Copyright 2024 Reachify | All Right Reserved.
  </p>
</footer>
{% if messages %}
  {% for message in messages %}
    <div class="position-fixed top-0 mt-5  end-0" style="z-index: 999;" id="alert-box">
      <div class="alert  alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong class="d-flex align-items-center">
          {% if message.tags == 'warning' %}
            <i class="ti ti-alert-circle fs-1 pe-2"></i>
          {% elif message.tags == 'info' %}
            <i class="ti ti-info-circle fs-1 pe-2"></i>
          {% elif message.tags == 'success' %}
            <i class="ti ti-check fs-1 pe-2"></i>
          {% endif %}
          {{ message }}
        </strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
  {% endfor %}
{% endif %}
<!-- ========UNPOLY JS CDN=============-->
<script src="https://unpkg.com/unpoly@2.7.2/unpoly.min.js"></script>

<!-- ========TABLER JS========-->
<script type="text/javascript" src="{% static 'js/tabler.min.js' %}"></script>
{% block inline_javascript %}
  {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        /* Run whatever you want */
      });
    </script>
    {% endcomment %}
{% endblock inline_javascript %}
</body>
</html>
