{% extends "base.html" %} {% load crispy_forms_tags %}
{% block content %}
  <div class="row">
    <div class="col-md-6 m-auto">
      <h1 class="text-info fs-2 mb-5">Get free instagram followers and likes</h1>
    </div>
    <div class="w-100"></div>
    <div class="col-md-6 m-auto">
      <div class="card shadow">
        <div class="card-header">
          <h3 class="card-title fs-4">Enter your instagram username</h3>
        </div>
        <div class="card-body py-5">
          <form action="" method="post">
            {% csrf_token %}
            <div class="mb-3">
              <input type="text" class="form-control" name="username" value="{{ username }}">
            </div>
            <div class="d-grid">
              <input type="submit" value="Search Account" class="btn btn-success">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

