{% extends "base.html" %}
{% block title %}
  Terms of services
{% endblock %}

{% block content %}
  <div class="row py-3">
    <div class="col-md-8 m-auto">
      <h1>Terms of services</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur delectus deleniti dicta
        distinctio dolorem facilis incidunt inventore ipsam, mollitia nostrum quaerat, quidem voluptatum. Accusamus
        animi consequuntur deleniti iure perferendis!
      </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, ex, minus. Accusantium ad amet corporis
        doloremque doloribus ducimus esse est excepturi illo, molestiae natus nemo nulla quos sequi unde, veniam?</p>
    </div>
  </div>
{% endblock %}