<h2 class="text-center bg-yellow-lt p-3">EARN CREDITS</h2>
<div class="text-center p-3 d-flex justify-content-center mt-4 align-content-center">
  {% if promotion is not None %}
    <div>
      <div class="mb-3">
        {% if promotion.engagement_type.engagement_type ==  follow %}
          <p class="h3 bg-indigo-lt shadow shadow-sm p-3 rounded">
            <span class="fw-bold me-1 text-dark">Follow</span>
            <span class="text-google">{{ promotion.social_profile.username }}</span>
            <span class="text-dark">to earn {{ promotion.engagement_type.credits }} Credits.</span>
          </p>
        {% else %}
          <p class="h3 bg-indigo-lt shadow shadow-sm p-3 rounded">
            <span class="fw-bold me-1 text-dark">Like</span>
            <span class="text-google">the post from {{ promotion.social_profile.username }}</span>
            <span class="text-dark">to earn {{ promotion.engagement_type.credits }} Credits.</span>
          </p>
        {% endif %}
      </div>
      <div class="d-flex justify-content-center mt-2">
        {% if promotion.engagement_type.engagement_type == follow %}
          <a href="javascript:void(0);"
             onclick="openLinkInWindow(baseURL+'{{ promotion.social_profile.username }}'+'/')"
             class="btn btn-instagram me-2" id="instagramLink">Follow</a>
        {% else %}
          <a href="javascript:void(0);" onclick="openLinkInWindow('{{ promotion.link }}')"
             class="btn btn-instagram me-2"
             id="instagramLink">Like</a>
        {% endif %}
        <form action="{% url 'reachapp:verify_promotion_credit' %}" method="post">
          {% csrf_token %}
          <input type="hidden" hidden="hidden" value="{{ promotion.pk }}" name="promotion_id">
          <button class="btn btn-green" type="submit">Verify & Next Promotion</button>
        </form>
      </div>
    </div>
  {% else %}
    <div class="px-3 text-start">
      <p class="text-indigo fw-semibold">We currently do not have any ongoing promotions that would allow you to earn
        credits. <br> However, please stay
        connected as we will be launching new promotions soon!</p>
    </div>
  {% endif %}
</div>
<script>
  let baseURL = "https://www.instagram.com/";

  function openInstagramProfile(url) {
    return window.open(url, '_blank', 'width=1000,height=600,top=0,left=0');
  }

  //let instagramWindow;

  function openLinkInWindow(url) {
    let instagramWindow = openInstagramProfile(url);
  }


  async function postData(url, data) {
    const response = await fetch(url, {
      method: 'POST', // Specify the method as POST
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': "{{ csrf_token }}"
      }, // Set the content type
      body: JSON.stringify(data) // Convert data to JSON string
    });

    // Check for successful response
    if (!response.ok) {
      throw new Error(`HTTP error! status: ${response.status}`);
    }

    // Process the response data
    const responseJSON = await response.json();
    console.log(responseJSON);
  }

  const verifyPromotionBtn = document.getElementById("verify_promotion_id")
  if (verifyPromotionBtn) {
    verifyPromotionBtn.addEventListener('click', function () {

      const url = "{% url 'reachapp:verify_promotion_credit' %}"
      const data = {promotion_id: "{{ promotion.pk }}"};
      console.log("data ", data)
      postData(url, data)
        .then(() => console.log('POST request successful'))
        .catch(error => console.error('Error:', error));
    });
  }


</script>
