{% extends "base.html" %} {% load crispy_forms_tags %}
{% block title %} Dashboard {% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-12 mt-3">
      <div class="card shadow">
        <div class="card-header">
          {% include 'utils/dashboard_header.html' %}
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane fade active show" id="tabs-home-8" role="tabpanel">
              <div>
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Profile</h3>
                  </div>
                  <div class="card-body">
                    {% if account_data %}
                      <div>
                        <img class="rounded rounded-circle" src="{{ account_data.profile_image_url }}"
                             alt="Profile Image">
                      </div>
                      <div>
                        <h3 class="fw-bold">{{ member.username }}</h3>
                        <p class="mb-2">{{ account_data.content }}</p>
                      </div>
                      <div>

                      </div>
                    {% endif %}
                  </div>
                  <div class="card-footer">
                  <span class="btn btn-indigo"> Your Credits:
                          {{ member.get_available_credits|floatformat:0 }}
                        </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="tabs-profile-8" role="tabpanel">
              <h4>Earn Credits</h4>
              <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab earum facere suscipit. Culpa cumque est
                  necessitatibus nulla provident temporibus vitae? Ad alias id maxime quasi voluptate? Blanditiis
                  dolores quam tempore!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dicta dolorum eaque
                  exercitationem facilis fuga fugit id laborum maiores modi nam nesciunt officia, perspiciatis placeat
                  quae quo repellat tempora vitae.</p>
                <div>
                  <span class="btn btn-indigo">Your Credits: {{ member.earned_credit|floatformat:0 }}</span>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="tabs-activity-8" role="tabpanel">
              <div>
                <div class="mb-2">
                  <span class="btn btn-indigo">Your Credits: {{ member.get_available_credits }}</span>
                </div>
                <div class="card">
                  <div class="card-header d-flex justify-content-between">
                    <h3 class="card-title">Add Promotion</h3>
                    <span class="btn btn-purple">1 Follow = 2 Credit</span>
                  </div>
                  <div class="card-body">
                    <form action="" method="post" id="promotion-form">
                      {% csrf_token %}
                      <div id="div_id_engagement_type" class="mb-3">
                        <label for="member_id" class="form-label requiredField">
                        Your Instagram username<span class="asteriskField">*</span></label>
                        <input type="text" class="form-control disabled" id="member_id" value="{{ member.username }}">
                      </div>
                      {{ form|crispy }}
                    </form>
                  </div>
                  <div class="card-footer d-flex justify-content-between">
                    <span class="btn btn-yellow">Credits Required: <span id="credits_required">0</span></span>
                    <button class="btn btn-success" type="submit" form="promotion-form">Add Promotion</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="tabs-activity-9" role="tabpanel">
              <div>
                <div class="mb-2">
                  <span class="btn btn-indigo">All Promotions</span>
                </div>
                <div class="card">
                  <div class="card-header d-flex justify-content-between">
                    <h3 class="card-title">Add Promotion</h3>
                    <span class="btn btn-purple">1 Follow = 2 Credit</span>
                  </div>
                  <div class="card-body">
                  </div>
                  <div class="card-footer d-flex justify-content-between">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
