{% extends "base.html" %}
{% block title %} Earn Credits {% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-12 mt-3">
      <div class="card shadow">
        <div class="card-header">
          {% include 'utils/dashboard_header.html' %}
        </div>
        <div class="card-body">
          <div class="card">
            <div class="card-header d-flex justify-content-between">
              <h3 class="card-title">Earn Credits</h3>
            </div>
            <div class="card-body">
              <h1>Hello World, earn credits here by following other people.</h1>
            </div>
            <div class="card-footer d-flex justify-content-between">
                    
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
