{% extends "base.html" %} {% load crispy_forms_tags %}
{% block content %}
  <div class="row">
    <div class="col-md-12 mt-3">
      <div class="card shadow">
        <div class="card-header">
          {% include 'utils/dashboard_header.html' %}
        </div>
        <div class="card-body">
          <div class="card">
            <div class="card-header d-flex justify-content-between">
              <h3 class="card-title">Add Promotion <span
                class="btn btn-indigo">Your Available Credits: {{ member.get_available_credits }}</span></h3>
              <span class="btn btn-purple">1 Follow = 2 Credit</span>
            </div>
            <div class="card-body">
              <form action="" method="post" id="promotion-form">
                {% csrf_token %}
                <div id="div_id_engagement_type" class="mb-3">
                  <label for="member_id" class="form-label requiredField">
                    Your Instagram username<span class="asteriskField">*</span></label>
                  <input type="text" class="form-control" id="member_id" value="{{ member.username }}" readonly
                         disabled>
                </div>
                {{ form|crispy }}
              </form>
            </div>
            <div class="card-footer d-flex justify-content-between">
          <span class="btn btn-yellow">Credits Required: <span
            id="credits_required"> {{ credits_required }}</span></span>
              <button class="btn btn-success" type="submit" form="promotion-form">Add Promotion</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block inline_javascript %}
  <script>
    let selectPromotionType = document.getElementById("id_engagement_type")
    let numberOfFollowersInput = document.getElementById("id_target_followers_count");
    let creditsRequiredSpan = document.getElementById("credits_required");

    if (numberOfFollowersInput && selectPromotionType) {

      selectPromotionType.addEventListener('change', function () {
        const numberOfFollowersLabel = document.querySelector(`label[for="${numberOfFollowersInput.id}"]`);

        if (selectPromotionType.selectedIndex !== 0) {
          const selectedOption = selectPromotionType.options[selectPromotionType.selectedIndex];
          numberOfFollowersLabel.textContent = `Number of ${selectedOption.innerHTML}*`;
        } else {
          numberOfFollowersLabel.textContent = `Number of followers*`;
        }
        toggleLink();
      });

      numberOfFollowersInput.addEventListener('keyup', function (event) {
        const selectedOption = selectPromotionType.options[selectPromotionType.selectedIndex]
        let engagement_count = parseInt(event.target.value);
        fetchEngagementCredits(selectedOption.value, engagement_count)
      });
    }

    function fetchEngagementCredits(selected_engagement_type, engagement_count) {
      let apiEndPoint = `/fetch/platform-engagement/${selected_engagement_type}/credtis`;
      fetch(apiEndPoint)
        .then(response => {
          if (!response.ok) {
            throw new Error('Network response was not ok');
          }
          return response.json();
        })
        .then(data => {
          let objects = JSON.parse(data)
          let engagement_credit = objects.credits

          let credits = engagement_count * engagement_credit;
          if (credits) {
            creditsRequiredSpan.innerHTML = credits;
          } else {
            creditsRequiredSpan.innerHTML = 0;
          }
        })
        .catch(error => {
          console.error('There was a problem with the fetch operation:', error);
        });
    }

    const postLinkDiv = document.getElementById("div_id_link")
    if (postLinkDiv) {
      toggleLink()
    }

    function toggleLink() {
      const selectedOption = selectPromotionType.options[selectPromotionType.selectedIndex];
      let promotionType = selectedOption.innerHTML;
      if (promotionType === 'Select Promotion Type' || promotionType === 'Instagram Followers') {
        postLinkDiv.classList.add("d-none")
      } else {
        postLinkDiv.classList.remove('d-none')
      }
    }
  </script>
{% endblock %}
